version: 2
jobs:
  build:
    working_directory: ~/guardian-vpn-android
    docker:
    - image: circleci/android:api-29
    environment:
    - JVM_OPTS: -Xmx3200m
    steps:
    - checkout
    - restore_cache:
        key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
    - run:
        name: Download Dependencies
        command: ./gradlew androidDependencies
    - save_cache:
        paths:
        - ~/.gradle
        key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
    - run:
        name: Run Tests
        command: ./gradlew lint test
    - run:
        name: Build Debug Apk
        command: ./gradlew assembleDebug
    - store_artifacts:
        path: app/build/outputs/apk
        destination: apks
    - store_artifacts:
        path: app/build/reports
        destination: reports
    - store_test_results:
        path: app/build/test-results
workflows:
  version: 2
  workflow:
    jobs:
    - build